.nav-right-part {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-right-part a {
    text-decoration: none;
}

.btn-header {
    background: linear-gradient(180deg, #5773E4 0%, #10162F 136.84%);
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.22) 100%);
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 700;
    color: white;
    padding: 8px 40px;
    border-radius: 12px;
    height:100%
}


.nav-link {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    border-bottom: 5px solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #000000;
    opacity: 70%;
    position: relative;
}


.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 900;
    line-height: 48px;
    color: #000000;
    opacity: 1;
}
.nav-link.active::after{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: #FBA919;
    border-radius: 100px 100px 0px 0px;
    position: absolute;
    left: 0;
    right: 0;
    
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    color: #000000;
}