.hero-bg {
    background-image: url('../../../../../images/home/herobg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-text {
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
}

.hero-subtext {
    font-family: 'Gilroy';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.search-heading {
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
}

.search-area {
    background-color: #ffffff;
    margin-top: 20px;
    padding: 12px 26px;
    border-radius: 16px;
}

.btn-search-area {
    border-radius: 10px;
    background-image: linear-gradient(180deg, #5773E4 0%, #10162F 136.84%);
    border: 1px solid;
    height: 40px;
    width: 40px;
}

.home-search-wrpr {
    background-color: white;
    box-shadow: 0px 2px 20px 0px #00000029;
    width: 100%;
    /* max-width: 1200px; */
    padding: 10px 12px 10px 25px;
    border-radius: 16px;
}

.home-filter-cityName {
    all: unset;
}

.home-filters-items-lable {
    font-size: 11px;
    opacity: 60%;
    color: black;
}

.home-filter-cityName {
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.home-filter-cityName::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.filter-country-name {
    flex: 0 1 25%;
}

.filter-dates {
    flex: 0 1 20%;
}

.filter-adults {
    flex: 0 1 20%;
}

.filter-dates::after,
.filter-adults::after {
    content: '';
    position: absolute;
    left: 0;
    border-left: 1px solid #000000;
    opacity: 10%;
    height: 100%;
}

input.home-filter-cityName[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.home-filter-main-search {
    width: 40px;
    height: 40px;
    padding-inline: 8px;
    background: linear-gradient(180deg, #5773E4 0%, #10162F 136.84%);
    border-radius: 10px;
}

.home-filter-main-search {
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .home-filters-items {
        display: flex;
        flex-direction: column;
    }

    .vh-mob {
        height: 70vh !important;
    }

    .hero-text {
        font-size: 33px;
    }

    .hero-subtext {
        font-family: 'Gilroy';
        font-size: 16px;
    }

    .offers-heading {
        font-size: 20px !important;
    }

    .offers-heading span {
        font-size: 30px !important;
    }

    .offers-content {
        padding-top: 41px !important;
        padding-bottom: 102px !important;
    }

    .explore-heading {
font-size: 34px;}

}