body{
    background-color: #f7f7f7!important;
    padding: 16px !important;
}
a {
    text-decoration: none;
}
.form-switch .form-check-input {
    cursor: pointer;
    border-radius: 20px !important;
}
.form-switch .form-check-label {
    margin: 0px !important;
}
.form-check-input:not(:checked):hover {
    background-color: initial !important;
}
.form-check-input:checked:hover:not(:disabled) {
    background-color: #0c66e4 !important;
}
.vendor-tabs .nav-tabs .nav-link {
    line-height: 2;
    padding-inline: 1.5rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    min-width: 120px;
    background: #e5e5e5;
    margin-right: 5px;
    border: 0px;
}
.vendor-tabs .nav-tabs::before, .vendor-tabs .nav-item.show .nav-tabs .nav-link::after, .vendor-tabs .nav-tabs .nav-link.active::after {
    background: transparent;
}
.vendor-tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #fff;
    border: 0;
    opacity: 1;
}
.left-sidebar {
    padding-top: 20px;
    background:#1e1e2c;
}
#navbarSupportedContent{
    background:#fff !important;
}
.topbar {
    margin-left: 263px;
}
.navbar-header .navbar-brand {
    padding:14px 15px !important;
    margin: 0 !important;
}
.navbar-header .navbar-brand img {
    max-width: 150px;
}
.page-wrapper, .topbar .top-navbar{
    background: #f7f7f7;
    position: relative;
    border: 0;
}
.myIcon {
    width: 50px;
    height: 50px;
    border: 1px solid #edf2f9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: absolute;
    left: 20px;
    color: #1a73e8;
    background: #edf2f9;
}
.boardCont {
    text-align: end;
}
.rightContentWrapper .col h5 {
    font-size: 22px;
    line-height: 30px;
    color: #202020;
    font-weight: 500;
}
.rightContentWrapper .cardRow .card {
    background-color: transparent;
}
.rightContentWrapper .col .bg-dark {
    display: flex;
    position: relative; 
    border-radius: 6px;  
    justify-content: flex-end;  
    padding: 22px 25px !important;
    background-color: #ffffff !important;
}
.boardCont small {
    color: #8d8d8d;
    font-size: 16px;
    font-weight: 400 !important;
}
.custom-card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 0;
    --bs-card-border-color: rgba(0, 0, 0, .125);
    --bs-card-border-radius: 0.75rem;
    --bs-card-box-shadow: 1px 3px 7px rgba(0,0,0,0.05);
    --bs-card-inner-border-radius: 0.75rem;
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: #fff;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    box-shadow: 1px 3px 7px rgba(0,0,0,0.05);
}
.custom-card + .custom-card {
    margin-top: 20px;
}
.comment-widgets .comment-row,
.page-wrapper .cardRow .card-body{
    background:#ffffff;
    border-radius: 8px;
}
.comment-widgets .comment-row {
    margin: 20px 0 0 !important;
}
.no-block {
    margin-top: 20px;
}
.btn-cyan {
    background-color: #1a73e8 !important;
    border-color: #1a73e8 !important;
}
.btn-danger {
    background-color: #ac3e31;
    border-color: #ac3e31;
}
.btn-success {
    background-color: #488a99;
    border-color: #488a99;
}
.progress-bar {
    background-color: #1a73e8;
}
.bg-success {
    background-color: #488a99 !important;
}
.bg-info {
    background-color: #ac3e31 !important;
}
.comment-footer button {
    margin: 0 10px 0 0;
}
.left-sidebar {
    position: fixed;
    width: 250px;
    height: calc(100% - 15px) !important;
    top: 15px;
    z-index: 10;
    padding-top: 20px;
    background: #fff;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    left: 15px;
    bottom: 15px;
    border-radius: 11px;
}
#main-wrapper[data-sidebartype=full] .page-wrapper {
    margin-left: 243px;
}
#main-wrapper .topbar .navbar-collapse[data-navbarbg=skin5], #main-wrapper .topbar[data-navbarbg=skin5] {
    background: #fff;
    position: sticky;
    top: 16px;
    right: 16px;
    border-radius: 9px;
    flex: 1;
}
.topbar { 
    border-radius: 12px;
}
nav.navbar.top-navbar.navbar-expand-md.navbar-light {
    background: #fff;
    border-radius: 8px;
}
body:after { 
    background: #f7f7f7 !important;
}
a.sidebar-link.waves-effect.waves-dark.sidebar-link {
    border-radius: 0px 8px 8px 0px;
}
a.sidebar-link.waves-effect.waves-dark.sidebar-link.active {
    background: #1a73e8 !important;
}
a.sidebar-link.waves-effect.waves-dark.sidebar-link:hover {
    background: #2f3c49 !important;
}
.sidebar-nav ul li {
    list-style: none;
    padding: 5px 20px 5px 0px;
}
.page-wrapper>.container-fluid, .page-wrapper>.container-lg, .page-wrapper>.container-md, .page-wrapper>.container-sm, .page-wrapper>.container-xl, .page-wrapper>.container-xxl {
    padding-right: 0;
}