.sliders-controllers{
    width: 110%;
    transform: translate(-50%,-50%);
}
.sliders-controllers .carousel-control-prev span,
.sliders-controllers .carousel-control-next span{
   background-size: 80%;
}
@media screen and (max-width:1440px) {
    .sliders-controllers{
        width: 100%;
    }
}