.citylist-heading {
    font-family: 'Gilroy';
    font-size: 40px;
    font-weight: 700;
    line-height: 48.36px;
    color: #282C30;
}

.citylist-para {
    font-family: 'Gilroy';
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    color: #282C30;
}

.city-name {
    font-family: 'Gilroy';
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    color: white;
}

.citilist-sec {
    padding-block: 24px 80px;
    background-color: #F8F8F8;
}

@media only screen and (max-width: 600px) {

.citylist-heading {
    font-size: 32px;}

}