.card-body{
    box-shadow: 0px 2px 12px 0px #0000001F;
}
.tour_details_icons_list{
    column-gap: 14px;
}
.list-group-item{
    list-style-type: disc;
}
.accordion-button::after,
.accordion-button:not(.collapsed)::after{
    background-image: url('../../../public/images/details/aero_icon.png');
}
.tour-package-card-headings .card-subtitle{
    color: #838383;
}
.tour-package .card-body{
    background: linear-gradient(180deg, rgba(235, 238, 250, 0) -4.24%, #FFFFFF 107.09%);
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.22) 100%);
}
.heading-adlt-title{
    color: #242C3B;
}
.count-adlt-list i{
    color: #0084DE;
}

.tour-package-btn{
    all: unset;
    border: 1px solid #0084DE;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: #3582D7;
    flex: 1 1 50%;
    max-height: 40px;
    aspect-ratio: 1 / 0.3;
    border-radius: 12px;
}
.tour-package-btn.booknow{
    background-color: #3582D7;
    color: white;
}

.tour_details_trip_logo{
    right: 34px;
    transform: translateY(-50%);
}
.tour_details_bg{
    right: -6%;
    top: -16%;
    max-width: 300px;
}
.tour-package-location-name{
    color: #FBA919;
    font-family: "Poppins", sans-serif;
}
.text-clamp{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* Number of lines to display */
    -webkit-line-clamp: 2; /* Number of lines */
}
.tour-package-cta::after{
    content: '';
    width: 28vw;
    position: absolute;
    border: 1px solid #E0E0E0;
    top: 0;
    margin-left: 50%;
    transform: translate(-50%);
}
.tour-package-card-calendar{
    border: 1px solid #E0E0E0;
    cursor: pointer;
}
.gallery-float-text{
    background: #000000B2;
    bottom: 20px;
    left: 20px;
    padding: 9px;
}
.count-adlt{
    max-width: 80px;
}
.count-adlt-number{
    width: 24px;
    text-align: center;
}
.package-counter{
    cursor: pointer;
}