.subcriptionSec{
    padding: 70px 0;
}
.subcriptionOuter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0 auto;
    max-width: 1200px;
    justify-content: center;
}

.subcriptionOuter .subcriptionInner {
    flex: 0 0 33.33%;
    padding:0 20px;
}

.subcriptionOuter .subcriptionInner .subscriptionBox {
    background-color: #ffffff;
    padding: 40px 20px 25px;
    border-radius: 8px;
    border: 1px solid #ffd5ab;
    position: relative;
    transition: all .4s;
    box-shadow: 0px 10px 18px -2px rgba(0, 0, 0, 0.1);
}
.packageIcon {
    color: #525252;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    margin: 15px auto;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffd5ab;
    background-color: #fff8f0;
}

.packageIcon i {
    font-size: 44px;
}
.packagePrice h5 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    font-style: italic;
}
.packageTitle h4 {
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    color: #585858;
}
.packageTitle h5 {
    font-size: 26px;
    line-height: 34px;
    color: #ffb265;
    font-weight: 600;
}
.packageCta a.btn {
    color: #181818;
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    background-color: #ffd5ab;
    border-color: #ffd5ab;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding: 8px 20px;
    outline: none !important;
    box-shadow: none !important;
}
.packageCta {
    margin-top: 35px;
}
.subscriptionBox ul {
    margin-top: 20px;
    border-top: 1px solid #f1f1f1;
    padding-top: 20px;
}
.subscriptionBox ul li {
    display: flex;
    gap: 12px;
    font-size: 15px;
    line-height: 22px;
    margin-top: 11px;
    font-weight: 600;
    color: #555555;
}
.subscriptionBox ul li i {
    font-size: 20px;
    color:var(--ds-background-selected-bold-pressed);
}

.subcriptionSec form li label .switchCTA{
    position: relative;
    cursor: pointer;
    width: 150px;
    height: 44px;
    background-color: #ffffff;
    border: 1px solid #ffd5ab;
    border-radius: 28px;
    z-index: 0;
    font-size: 15px;
    overflow: hidden;
    display: flex;
    padding-left: 56px;
    align-items: center;
    transition: all 0.25s;
}
.subcriptionSec form ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 8px;
    margin: 8px 0 30px;
}
.subcriptionSec form label .switchCTA:after {
    content: "✓";
    position: absolute;
    color: #4e4e4e;
    left: 12px;
    width: 30px;
    height: 30px;
    z-index: 8;
    top: 50%;
    translate: 0 0;
    transition: all .3s;
    background-color: #fff6ec;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}
.text-purple{
    color:var(--ds-background-selected-bold-pressed);
}
.subcriptionSec form label input:checked + .switchCTA{
    background-color: #fff8f0;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0,0.1);
}
.subcriptionSec form label input:checked + .switchCTA:after {
    background-color: #ffd5ab;
}
.subcriptionSec h2 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 500;
    color: #565656;
}
.subcriptionSec h2 span{
    font-weight: 800;
}
.subcriptionSec p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #222222;
}
.subcriptionSec form li label input {
    opacity: 0;
    visibility: hidden;
    display: none;
}
.subcriptionSec form ul li {
    flex: 0 0 8%;
}
.subcriptionSec form li label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    line-height: 22px;
}


/* Active Box */
.subcriptionInner.packageActive .subscriptionBox{
    border-color:var(--ds-background-selected-bold-pressed);
    transform: scale(1.05);
}
.subcriptionInner.packageActive .subscriptionBox {
    background-color:var(--ds-background-selected-bold-pressed);
}
.subcriptionInner.packageActive .subscriptionBox .packageTitle h4,
.subcriptionInner.packageActive .subscriptionBox .packagePrice h5,
.subcriptionInner.packageActive .subscriptionBox ul li,
.subcriptionInner.packageActive .subscriptionBox ul li i,
.subcriptionInner.packageActive .subscriptionBox .packageIcon i,
.subcriptionSec .packageActive p{
    color:#ffffff;
}
.subcriptionInner.packageActive .subscriptionBox .packageIcon i,
.subcriptionInner.packageActive .subscriptionBox .packageCta a.btn{
    color:var(--ds-background-selected-bold-pressed);
}
.subcriptionInner.packageActive .subscriptionBox .packageCta a.btn,
.subcriptionInner.packageActive .subscriptionBox .packageIcon{
    background-color:#ffffff;
    border-color:#ffffff;
}
.subcriptionInner.packageActive .subscriptionBox .packageIcon{
    border-color: #584ca5;
}