/* @import url('../../src/assets/'); */
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.gluten-font {
  font-family: "Gluten", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.go-back-btn {
  border: 0;
  width: 24px;
  opacity: 0.6;
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  transform: rotate(180deg);
  margin-right: 12px;
}



/* bootstrap container */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
      max-width: 540px; /* Custom max-width for small screens */
  }
}

@media (min-width: 768px) {
  .container {
      max-width: 720px; /* Custom max-width for medium screens */
  }
}

@media (min-width: 992px) {
  .container {
      max-width: 960px; /* Custom max-width for large screens */
  }
}

@media (min-width: 1200px) {
  .container {
      max-width: 1140px; /* Custom max-width for extra large screens */
  }
}

@media (min-width: 1300px) {
  .container {
      max-width:1350px; /* Custom max-width for extra extra large screens */
  }
}
@media (min-width: 1600px) {
  .container {
      max-width: 1600px; /* Custom max-width for extra extra large screens */
  }
}

/* bootstrap container */

.search_icon{
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  cursor: pointer;
}

body:has(.schedule-wrpr) .navbar {
  border: none;
}

:root {
  --loader-primary: #ffa516;
}
.loader-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
      radial-gradient(farthest-side,var(--loader-primary) 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,var(--loader-primary));
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100% { transform: rotate(1turn); }
}